body {
    background-color:#d9f7f7;
    color:#414444;
    font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
    font-size:14px;
}

h1 {
    color:#d87620;
}
input {
    display:block;
    padding:5px;
    margin:5px;
    background-color:#e0b5d7;

button {
    background-color:#b7381f;
    color:white;
    padding:10px;
    margin:5px;
    font-size: 1.2em;
    border-width:2px;
    border-color:#1eb7b7;
}